/*------------ fonts -----
----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/*----------
 top blog styles
----------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}

.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* ---------------
  courses style 
------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-author{
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.course-duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 1px 10px;
    border-radius: 15px;
}

/* media query */
/* mobile devices */
@media only screen and (max-width:688px) {
    .section-title{
        text-align: center;
       
    }
    
    .container{
        width: 100%;
    }
    
    .players, .blogs, .courses {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 10px;
    
    }
    .player{
        align-items: center;
        flex-direction: column;
    }
    
}